body {
    width: 100%;
    height: 100%;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #777;
    background-color: #fff;
    /*background-image: url('../img/tactile_noise.png');*/
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    /*text-transform: uppercase;*/
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:767px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #176e61;
}

.light {
    font-weight: 400;
}

.navbar {
    margin-bottom: 0;
    /*border-bottom: 1px solid rgba(255,255,255,.1);*/
    /*text-transform: uppercase;*/
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #1468c6 !important;
}

.navbar-brand {
    font-weight: 700;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar a {
    color: #fff;
}

.navbar .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar .nav li a:hover,
.navbar .nav li a:focus,
.navbar .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #07e;
    }

    .navbar.top-nav-collapse {
        /*border-bottom: 1px solid rgba(255,255,255,.3);*/
    }
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    /*background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;*/
    background-color: #1468c6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}

.demo {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #777;
    /*background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;*/
    background-color: #eee;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.demo-body {
    display: table-cell;
    vertical-align: middle;
}

.demo-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .demo {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}

#demo .content-box {
  max-height: 170px;
  min-height: 170px;
}

div.content-box.big {
  padding: 0 7% 30px;
  border-radius: 3px;
  background: #fff;
  -webkit-transition: background .5s ease-in-out;
  -moz-transition: background .5s ease-in-out;
  -o-transition: background .5s ease-in-out;
  -ms-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
}

.author-content, div.content-box.big, .contact-box {
  border-style: solid;
  border-width: 1px 1px 3px;
  border-color: #ddd;
  background: #fafafa;
  background: -webkit-gradient(linear,0% 0%,0% 100%,from(#f8f8f8),to(#fafafa));
  background: -webkit-linear-gradient(top,#f8f8f8,#fafafa);
  background: -moz-linear-gradient(top,#f8f8f8,#fafafa);
  background: -ms-linear-gradient(top,#f8f8f8,#fafafa);
  background: -o-linear-gradient(top,#f8f8f8,#fafafa);
}

div.content-box.big div.content-box-info {
  padding-left: 0;
  text-align: center;
  margin: 25px 0 0;
}

div.content-box.big div.content-box-info {
  text-align: center;
}

.contact {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #777;
    /*background: url(../img/intro-bg.jpg) no-repeat bottom center scroll;*/
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.contact-body {
    display: table-cell;
    vertical-align: middle;
}

.contact-text {
    font-size: 18px;
}

@media(min-width:767px) {
    .conatct {
        height: 100%;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
    }

    .intro-text {
        font-size: 25px;
    }
}

.textleft {
  text-align: left;
}

.team {
  padding-bottom: 20px;
}

.footer-top {
  background: #323B44;
  border-bottom: 1px solid #414f5a;
  color: #A1A1A1;
  padding: 50px 40px 0px 40px;
}
