/* bootstrap wrapper */
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: #777;
  background-color: #fff;
  font-family: 'Nanum Barun Gothic', sans-serif;
}

p {
  margin: 0 0 35px;
  font-size: 20px;
  line-height: 1.6;
}

.section {
  height: 100% !important;
  padding: 0 !important;
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.section-body {
  display: table-cell;
  vertical-align: middle;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    min-width: 730px;
  }
}
@media (min-width: 992px) {
  .review-container {
    width: 1080px !important;
  }
}
