{% load staticfiles %}

<footer id="footer" class="textleft">
  <!-- Footer Top Start -->
  <div id="contact" class="footer-top">
    <div class="row">
      <section class="col-lg-7 col-md-7 col-sm-7 col-xs-10 col-xs-offset-1 footer-one">
        <div class="about">
          <h3>The Team</h3>
          <div class="team row">
            <div class="col-md-4 col-sm-5 col-xs-12">
              <a href="http://carpedm20.github.io" target="_blank">
                <img class="img-rounded" src="{% static 'img/TaehoonKim.jpg' %}" alt="Matthew Zeiler">
              </a>
            </div>
            <div class="col-md-8 col-sm-7 col-xs-12">
              드라마 '유령'을 보고 해킹에 빠진 컴덕.
              단순히 해커의 언어라는 이유로 파이썬을 시작했고
              그렇게 파이썬이라는 나라가 허락한 유일한 마약에 빠져 파이뽕에 취해있다.
              취미는 역시 해킹. 가끔 파이썬 라이브러리를 만들거나 영화를 감상한다. 
            </div>
          </div>
          <div class="team row">
            <div class="col-md-4 col-sm-5 col-xs-12">
              <img class="img-rounded" src="{% static 'img/TaehoonKim.jpg' %}" alt="Matthew Zeiler">
            </div>
            <div class="col-md-8 col-sm-7 col-xs-12">
              드라마 '유령'을 보고 해킹에 빠진 컴덕.
              단순히 해커의 언어라는 이유로 파이썬을 시작했고
              그렇게 파이썬이라는 나라가 허락한 유일한 마약에 빠져 파이뽕에 취해있다.
              취미는 역시 해킹. 가끔 파이썬 라이브러리를 만들거나 영화를 감상한다. 
            </div>
          </div>
        </div>
      </section>
      <section class="col-lg-4 col-md-4 col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 footer-three">
        <h3>Contact Us</h3>
        <div class="contact-us">
          <!-- <i class="glyph glyphicon-envelope"></i> -->
          <p>Email: <a href="mailto:info@reviewduk.com">info@reviewduk.com</a></p>
          <p>
          <a href="https://twitter.com/reviewduk"><img src="{% static 'img/tw_icon_40.png' %}" alt="Twitter"></a>
            <a href="https://www.facebook.com/ReviewDuk"><img src="{% static 'img/fb_icon_40.png' %}" alt="Facebook"></a>
          </p>
        </div>
        <h3>Join Us</h3>
        <div>
          <p>We're hiring!</p>
          <p>See <a href="jobs.html">Jobs at ReviewDuk</a> for details.</p>
        </div>
      </section>
    </div>
  </div>
  <!-- Footer Top End -->
  <!-- Footer Bottom Start -->
  <div class="footer-bottom">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-1">© Copyright 2013-2014
        <a href="index.html">ReviewDuk Inc.</a> All Rights Reserved.
      </div>
      <div class="col-xs-3">
        <a href="terms.html">Terms</a>&nbsp;&nbsp;
        <a href="privacy.html">Privacy</a>&nbsp;&nbsp;
        <a href="dmca.html">Content Takedown</a>
      </div>
    </div>
  </div>
  <!-- Footer Bottom End -->
</footer>
