<section class="section" style="color: #fff; background-color: #0077ee;">
  <div class="section-body">
    <div class="container">
      <div class="row">
        <h1>ReviewDuk</h1>
        <h3 style="font-weight:100">Korean sentiment analyzer with Movie</h3>
        <hr class="intro-divider">
        <ul class="list-inline intro-social-buttons">
          <li>
            <a target="_blank" href="https://carpedm20.github.io" class="btn btn-primary btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Portfolio</span></a>
          </li>
          <li>
            <a target="_blank" href="https://github.com/carpedm20/reviewduk" class="btn btn-info btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="about" class="container section">
  <div class="section-body">
    <div class="container">
      <div class="row">
        <h2>What we build</h2>
        <img src="http://designmodo.github.io/Flat-UI/docs/assets/img/demo/logo-mask.png">
        <p>We are currently working on sentiment analysis technology with the aim of making context recognition<br/>easier for everyone by using the finest machine learning technology.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section-body">
    <div class="container">
      <div class="row">
        <h3>Dataset that we have</h3>
        <canvas id="myChart" width="500" height="400"></canvas>
        <p>Word count & unique word count</p>
        <br/>
        <h3>Machine learning that we are using</h3>
        <img src="http://upload.wikimedia.org/wikipedia/commons/6/68/Gradient_ascent_%28surface%29.png" width="700">
        <p>A variant of online gradient descent which is configured to be fast and correct handling of large importance weights</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="section-body">
    <div class="container">
      <div class="row">
        <h1>Let's look at our demo</h1>
      </div>
    </div>
  </div>
</section>
